{:io.github.evenmoreirrelevance/libdesc 
 {:lib io.github.evenmoreirrelevance/testcomments
  :mvn/version "0.1.0-SNAPSHOT"
  :repo "https://github.com/EvenMoreIrrelevance/testcomments.git"}
 
 :paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}}
 :aliases
 {:build
  {:extra-deps
   {io.github.clojure/tools.build {:mvn/version "0.10.4"}
    slipset/deps-deploy {:mvn/version "0.2.1"}
    babashka/fs {:mvn/version "0.5.31"}}}}}
